#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/bin/nvim
export TERMINAL="terminator"

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
# Larger bash history (allow 32³ entries; default is 500)
# HISTSIZE=1000
# HISTFILESIZE=2000
export HISTSIZE=50000000
export HISTFILESIZE=$HISTSIZE

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# Make some commands not show up in history
#export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *"
export HISTIGNORE="[ \t]*:*secure*:sudp*:sudop*"

# Prefer real English and use UTF-8
export LANG="en_GB.UTF-8"
export LANGUAGE="en_GB.UTF-8"
export LC_ALL="en_GB.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

#export DBUS_SESSION_BUS_ADDRESS
#DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus

#export TODOTXT_DEFAULT_ACTION=ls

# hidpi for gtk apps
#export GDK_SCALE=2
#export GDK_DPI_SCALE=0.5
#export QT_DEVICE_PIXEL_RATIO=2

# turn on go vendoring experiment
#export GO15VENDOREXPERIMENT=1

#export DOCKER_CONTENT_TRUST=1
export DOCKER_HOST=unix:///run/user/1000/docker.sock

# if it's an ssh session export GPG_TTY
if [[ -n "$SSH_CLIENT" ]] || [[ -n "$SSH_TTY" ]] || uname -a | grep microsoft >/dev/null; then
	GPG_TTY=$(tty)
	export GPG_TTY
fi

# Dockerfunc functions will use the x11 socket
export use_x11_socket=true

# Allow Keepass to auto-type in Wayland
export QT_QPA_PLATFORM=xcb

# Fix for Firefox for Logitech mice (X11 only)
export MOZ_USE_XINPUT2=1

# Fix for Steam not scaling in KDE
STEAM_FORCE_DESKTOPUI_SCALING=1.5
GDK_SCALE=1.5
GDK_DPI_SCALE=1.5
