#!/bin/sh

# Set screen scale to 60% of monitor res
xrandr --output HDMI-A-0 --scale 0.6x0.6

## Disable screen blanking/screensaver
command -v xset > /dev/null && {
	xset s off
	xset s noblank
}

## Set wallpaper
if [ "${XDG_CURRENT_DESKTOP}" == "i3" ]; then
    feh --bg-fill ~/Pictures/Wallpapers/Disney_2015.jpg
fi

## Compositing Manager
xcompmgr -c &

## Lock screen
i3lock --show-failed-attempts --image ~/Pictures/Wallpapers/linux_wood.png
