[Desktop Entry]
Categories=FileTransfer;Game;Network;
Comment[en_GB]=
Comment=
Exec=env STEAM_FORCE_DESKTOPUI_SCALING=1.5 /usr/games/steam %U
GenericName[en_GB]=
GenericName=
Icon=steam
Keywords=games;installer;steam-installer;valve;
MimeType=
Name[en_GB]=Install Steam
Name=Install Steam
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
