[Unit]
Description=CV Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="NAME=cv"
Environment="IMAGE=nginx:latest"
Environment="LOCAL_USER=robert"
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm -t --name ${NAME} \
	-h ${NAME} \
	-l traefik.enable=true \
	-l traefik.http.routers.${NAME}.rule=(Host(\"szynal.co.uk\")||Host(\"robert.szynal.co.uk\"))&&(Path(\"/\")||PathPrefix(\"/cv\")) \
	-l traefik.http.routers.${NAME}.entrypoints=websecure \
	-l traefik.http.routers.${NAME}.tls=true \
	-l traefik.http.routers.${NAME}.tls.certresolver=szynalcoukchallenge \
	-v /etc/localtime:/etc/localtime:ro \
	-v /home/${LOCAL_USER}/cv/public:/usr/share/nginx/html:ro \
	${IMAGE}
ExecStop=-/usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target
