[Unit]
Description=Wyoming Faster Whisper STT Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="NAME=faster-whisper"
Environment="IMAGE=rhasspy/wyoming-whisper"
TimeoutStartSec=0
TimeoutStopSec=40
Restart=always
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm --name ${NAME} \
	-h ${NAME} \
	-p 10300:10300 \
	-v /root/.faster-whisper:/data \
	${IMAGE} \
	--model tiny-int8 \
	--language en
ExecStop=-/usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target

