[Unit]
Description=Ollama Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="NAME=ollama"
Environment="IMAGE=ollama/ollama"
TimeoutStartSec=0
TimeoutStopSec=40
Restart=always
ExecStartPre=-/usr/bin/docker network create trusted
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm --name ${NAME} \
	-h ${NAME} \
	--net trusted \
	-p 11434:11434 \
	--device /dev/dri \
	-v /root/.ollama:/root/.ollama \
	-l traefik.enable=true \
	-l traefik.http.routers.${NAME}.rule=Host(\"ollama.szynal.co.uk\") \
	-l traefik.http.routers.${NAME}.entrypoints=websecure \
	-l traefik.http.routers.${NAME}.tls=true \
	-l traefik.http.routers.${NAME}.tls.certresolver=szynalcouk \
	-l traefik.http.routers.${NAME}.middlewares=internal-only@file \
	-l traefik.http.services.${NAME}.loadbalancer.server.port=11434 \
	-l traefik.http.services.${NAME}.loadbalancer.server.scheme=http \
	${IMAGE}
ExecStop=-/usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target

