[Unit]
Description=Omada Controller Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="NAME=omada-controller"
Environment="IMAGE=mbentley/omada-controller:latest"
Environment="LOCAL_USER=robert"
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker stop -t 60 ${NAME}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm -t --name ${NAME} \
	-h ${NAME} \
	-p 8088:8088 \
	-p 8043:8043 \
	-p 8843:8843 \
	-p 27001:27001/udp \
	-p 29810:29810/udp \
	-p 29811:29811 \
	-p 29812:29812 \
	-p 29813:29813 \
	-p 29814:29814 \
	-e MANAGE_HTTP_PORT=8088 \
	-e MANAGE_HTTPS_PORT=8043 \
	-e PGID=508 \
	-e PORTAL_HTTP_PORT=8888 \
	-e PORTAL_HTTPS_PORT=8843 \
	-e PORT_ADOPT_V1=29812 \
	-e PORT_APP_DISCOVERY=27001 \
	-e PORT_DISCOVERY=29810 \
	-e PORT_MANAGER_V1=29811 \
	-e PORT_MANAGER_V2=29814 \
	-e PORT_UPGRADE_V1=29813 \
	-e PUID=508 \
	-e SHOW_SERVER_LOGS=true \
	-e SHOW_MONGODB_LOGS=false \
	-e TZ \
	-l traefik.enable=true \
	-l traefik.http.routers.${NAME}.rule=Host(\"omada.szynal.co.uk\") \
	-l traefik.http.routers.${NAME}.entrypoints=websecure \
	-l traefik.http.routers.${NAME}.tls=true \
	-l traefik.http.routers.${NAME}.tls.certresolver=szynalcoukchallenge \
	-l traefik.http.routers.${NAME}.middlewares=internal-only@file \
	-l traefik.http.services.${NAME}.loadbalancer.server.port=8088 \
	-l traefik.http.services.${NAME}.loadbalancer.server.scheme=http \
	-l traefik.http.routers.${NAME}-portal.rule=Host(\"portal.szynal.co.uk\") \
	-l traefik.http.routers.${NAME}-portal.entrypoints=websecure \
	-l traefik.http.routers.${NAME}-portal.tls=true \
	-l traefik.http.routers.${NAME}-portal.tls.certresolver=szynalcoukchallenge \
	-l traefik.http.routers.${NAME}-portal.middlewares=internal-only@file \
	-l traefik.http.services.${NAME}-portal.loadbalancer.server.port=8888 \
	-l traefik.http.services.${NAME}-portal.loadbalancer.server.scheme=http \
	-v /etc/localtime:/etc/localtime:ro \
	-v /root/.omada/data:/opt/tplink/EAPController/data \
	-v /root/.omada/work:/opt/tplink/EAPController/work \
	-v /root/.omada/logs:/opt/tplink/EAPController/logs \
	-v /root/.omada/cert:/cert \
	${IMAGE}
ExecStop=-/usr/bin/docker stop -t 60 ${NAME} && /usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target
