[Unit]
Description=OpenedAI Speech Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="NAME=openedai-speech"
Environment="IMAGE=ghcr.io/matatonic/openedai-speech"
TimeoutStartSec=0
TimeoutStopSec=40
Restart=always
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm --name ${NAME} \
	-h ${NAME} \
	-p 8000:8000 \
	-v /root/.openedai-speech/voices:/app/voices \
	-v /root/.openedai-speech/config:/app/config \
	-e TTS_HOME=voices \
	-e HF_HOME=voices \
	${IMAGE}
ExecStop=-/usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target

