[Unit]
Description=Transmission Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="TORRENT_IMAGE=haugene/transmission-openvpn:latest"
Environment="TORRENT_NAME=transmission"
Environment="LOCAL_USER=robert"
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${TORRENT_IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${TORRENT_NAME}
ExecStart=/usr/bin/docker run --rm -t --name ${TORRENT_NAME} \
	-h ${TORRENT_NAME} \
	--cap-add=NET_ADMIN --device=/dev/net/tun \
	--dns 8.8.8.8 --dns 8.8.4.4 \
	-p 9091 \
	-l traefik.enable=true \
	-l traefik.http.routers.${TORRENT_NAME}.rule=Host(\"szynal.co.uk\")&&PathPrefix(\"/transmission\") \
	-l traefik.http.routers.${TORRENT_NAME}.entrypoints=websecure \
	-l traefik.http.routers.${TORRENT_NAME}.tls=true \
	-l traefik.http.routers.${TORRENT_NAME}.tls.certresolver=szynalcoukchallenge \
	-v /etc/localtime:/etc/localtime:ro \
	-v /home/${LOCAL_USER}/torrent:/data \
	--env-file /home/${LOCAL_USER}/torrent/configs/${TORRENT_NAME}/DockerEnv \
	${TORRENT_IMAGE}
ExecStop=-/usr/bin/docker rm -fv ${TORRENT_NAME}

[Install]
WantedBy=multi-user.target
