[Unit]
Description=Google Drive OCAML FUSE
After=network-online.target

[Service]
ExecStart=/home/robert/.opam/default/bin/google-drive-ocamlfuse \
	/home/robert/googledrive-home \
	-f -verbose -o uid=1000,gid=1000,nonempty,allow_other
ExecStop=fusermount -u /home/robert/googledrive-home
Restart=always
Type=simple

[Install]
WantedBy=default.target
