# swaylock on commputer sleep
[Unit]
Description=swaylock
Before=suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/swaylock -fui /home/robert/Pictures/Wallpapers/linux_wood.png

[Install]
WantedBy=suspend.target
