[Unit]
Description=Transmission Container
After=docker.service
Requires=docker.service
After=traefik.service
Requires=traefik.service

[Service]
Environment="IMAGE=haugene/transmission-openvpn:5"
Environment="NAME=transmission"
Environment="LOCAL_USER=robert"
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker network create trusted
ExecStartPre=-/usr/bin/docker pull ${IMAGE}
ExecStartPre=-/usr/bin/docker rm -fv ${NAME}
ExecStart=/usr/bin/docker run --rm -t --name ${NAME} \
	-h ${NAME} \
	--net trusted \
	--cap-add=NET_ADMIN --device=/dev/net/tun \
	--dns 8.8.8.8 --dns 8.8.4.4 \
	-p 9091:9091 \
	-l traefik.enable=true \
	-l traefik.http.routers.${NAME}.rule=Host(\"szynal.co.uk\")&&PathPrefix(\"/transmission\") \
	-l traefik.http.routers.${NAME}.entrypoints=websecure \
	-l traefik.http.routers.${NAME}.tls=true \
	-l traefik.http.routers.${NAME}.tls.certresolver=szynalcouk \
	-l traefik.http.routers.${NAME}.middlewares=internal-only@file \
	-l traefik.http.services.${NAME}.loadbalancer.server.port=9091 \
	-l traefik.http.services.${NAME}.loadbalancer.server.scheme=http \
	-v /etc/localtime:/etc/localtime:ro \
	-v /home/${LOCAL_USER}/torrent:/data \
	-v /home/${LOCAL_USER}/torrent/configs/transmission:/config/transmission-home \
	--env-file /home/${LOCAL_USER}/torrent/configs/${NAME}/DockerEnv \
	${IMAGE}
ExecStop=-/usr/bin/docker rm -fv ${NAME}

[Install]
WantedBy=multi-user.target
