[Unit]
Description=Wyoming Faster Whisper STT Container
After=podman.socket
Requires=podman.socket
RequiresMountsFor=${HOME}/.faster-whisper

[Service]
Environment="NAME=whisper"
Environment="IMAGE=rhasspy/wyoming-whisper"
TimeoutStartSec=infinity
TimeoutStopSec=40
Restart=always
ExecStartPre=/usr/bin/podman pull ${IMAGE}
ExecStartPre=-/usr/bin/podman rm -fv ${NAME}
ExecStartPre=-/usr/bin/mkdir -p ${HOME}/.faster-whisper
ExecStart=/usr/bin/podman run --rm --name ${NAME} \
	-h ${NAME} \
	--net trusted \
	-p 10300:10300 \
	--security-opt label=type:container_runtime_t \
	-v ${HOME}/.faster-whisper:/data \
	${IMAGE} \
		--model tiny-int8 \
		--language en
ExecStop=-/usr/bin/podman rm -fv ${NAME}

[Install]
WantedBy=default.target

